.background    { background: rgb(27, 86, 94);
					background-repeat: no-repeat;
						background-attachment: fixed;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(168, 62, 62); }
.wall          { background: rgb(72, 33, 103);   }
.move		   { background: red; }
.character	   { background: orange; }
.enemy		   { background: rgb(154, 78, 42); }
.boost		   { background: rgb(28, 103, 77); }
.sloth		   { background: grey; }

.actor {position: absolute; }
.player {background : rgb(154, 145, 42); }
.coin {background: rgb(241, 299, 89); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
